/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9a49b1+0,bb2dad+100 */
.degrade{
background: rgb(154,73,177); /* Old browsers */
background: -moz-linear-gradient(top, rgba(154,73,177,1) 0%, rgba(187,45,173,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(154,73,177,1) 0%,rgba(187,45,173,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(154,73,177,1) 0%,rgba(187,45,173,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a49b1', endColorstr='#bb2dad',GradientType=0 ); /* IE6-9 */
}