<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detalles del Sensor</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header class="degrade" padding>
      <ion-title color="dark">{{sensorParam.nombreSensor}} </ion-title>
    </ion-card-header>

    <ion-card-content class="fondo-elektu" style="margin-top:10%;">

      <div>Estado : {{sensorParam.estado}}</div>
      <div>Código : {{sensorParam.codigo}}</div>
      <div>Batería : {{sensorParam.bateria}}</div>
      <div>Ubicación</div>
      <div>Calle : {{sensorParam.ubicacion.calle}}</div>
      <div>Número : {{sensorParam.ubicacion.numero}}</div>
      <div>Localidad : {{sensorParam.ubicacion.localidad}}</div>

      <!--<canvas #lineCanvas></canvas> -->

      <div *ngIf="mediciones.length> 0; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
          

        <!-- ** Grafico ** -->
        <hr>
        <div class="col-md-6">
          <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [chartType]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
          </canvas>
        </div>

        <div class="col-md-12 text-center" style="margin-top: 10px;height: 50%">
          <button (click)="randomizeType()" style="display: inline-block" float-right icon-start ion-button round> <ion-icon name="{{tipoIcono}}"></ion-icon> Cambiar</button>
        </div>

        <!-- ** Fin Grafico **   -->
      </ng-template>
      <ng-template #elseBlock><b>Por el momento no se registraron mediciones</b></ng-template>
      <button *ngIf="estaLogueado == true && !tengoDispositivo()" ion-button
        round color="secondary" (click)="agregarSensor()">Añadir a mis sensores</button>
    </ion-card-content>
  </ion-card>

</ion-content>