<agm-map [latitude]="ubicacion.latitud" [longitude]="ubicacion.longitud" [zoom]="zoom" (mapClick)="!seleccionHabilitada || ubicacionSeleccionada($event)">
  <agm-marker *ngFor="let sensor of sensores" [latitude]="sensor.ubicacion.latitud" [longitude]="sensor.ubicacion.longitud"
    animation="BOUNCE" [openInfoWindow]="true">
    <agm-info-window [maxWidth]="150">
      <strong style="color:black;">{{sensor.nombreSensor}}</strong>
      <p style="color:darkslategray;">Código: {{sensor.codigo}}</p>
      <p style="color: darkslategray;">Estado: {{sensor.estado}}</p>
      <p style="color:darkslategray;">Batería: {{sensor.bateria}}</p>
    </agm-info-window>
  </agm-marker>
</agm-map>