<h2>{{titulo}}</h2>

<div class="loginContainer">

	<form #login="ngForm" (ngSubmit)="onSubmit()" class="col-lg-4" ngNativeValidate>
			<p>
			<label><strong>Correo:</strong></label> <input type="text"
				class="form-control" name="email" #email="ngModel"
				[(ngModel)]="usuario.email" required> <span
				*ngIf="!email.valid && email.touched" class="badge badge-danger">El
				correo es obligatorio</span>
		</p>
		<p>
			<label><strong>Contrase&ntilde;a:</strong> </label> <input type="password"
				class="form-control" name="password" #password="ngModel"
				[(ngModel)]="usuario.password" required> <span
				*ngIf="!password.valid && password.touched"
				class="badge badge-danger"><strong>La contrase&ntilde;a es
					obligatoria</strong></span>
		</p>
		<p>
			<input type="submit" value="Ingresar" class="btn btn-primary" [disabled]="!login.form.valid">
		</p>
	</form>
	<a [routerLink]="['/registro']" [routerLinkActive]="['activado']" class="btn btn-success btn-lg">Registrarse</a>

</div>
